<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        
        <client>
            <endpoint 
				address="http://home-pc:8001/TweetService/a" 
				binding="basicHttpBinding"
                contract="ServiceReference1.ITweetServiceA"
                name="EndpointA" />
            <endpoint 
				address="http://home-pc:8001/TweetService/b" 
				binding="basicHttpBinding"
                contract="ServiceReference1.ITweetServiceB"
                name="EndpointB" />
        </client>
    </system.serviceModel>
</configuration>