<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<system.serviceModel>
		<services>
			<service name="TweetServiceHost.TweetService">
				<!--Either create separate contracts and host them explicitly on different endpoints--> 
				<endpoint address="/a" binding="basicHttpBinding" contract="TweetServiceHost.Contracts.ISendTweetService" />
				<endpoint address="/b" binding="basicHttpBinding" contract="TweetServiceHost.Contracts.IDeleteTweetService" />
				
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://home-pc:8001/TweetService" />
					</baseAddresses>
				</host>
			</service>

			<service name="TweetServiceHost.DispatchedTweetService">
				<!-- Or create separate endpoints hosting the same contract and use a Custom Dispatcher to select the operation-->
				<endpoint address="/a1" binding="basicHttpBinding" contract="TweetServiceHost.Contracts.ITweetService" />
				<endpoint address="/b1" binding="basicHttpBinding" contract="TweetServiceHost.Contracts.ITweetService" />

				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://home-pc:8002/TweetService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
